/*start our framework*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
}

.main_color{
    color: #f7600e;
}
.main_background{
   background-color:#f7600e;
}
.tablee{
    height: 100%;
    display: table;
}
.table-row{
    display: table-row;
}
.overlay{
    background: rgba(49,55,61,0.9);
    width: 100%;
    height: 100%;
}
::-webkit-input-placeholder{
    font-size: 14px;
}
:-moz-input-placeholder{
    font-size: 14px;
}
:-ms-input-placeholder{
    font-size: 14px;
}
.hiddenn{
    display: none;
}
/*end our framework*/

/*start header*/
.header{
    background: url(../images/heade_bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color:#fff;
    position: relative;
  //  margin-top: -100px;
  margin-top: -20px;;
}
.header .logo{
    font-size: 24px;
}
.navbar-default{
    background: none;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background:none;
    color: #fff;
}
.nn{
    margin-top: 14px;
 //   background: none;
}
.oo{
margin-top: 20px;
}
.header .buttons button{
    background: transparent;
    font-size: 14px;
    width: 180px;
    padding: 10px 0;
    z-index: 999;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    color:#fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 10px;
}
.header .buttons button:hover{
    background-color:#f7600e;
    border: 1px solid #f7600e;
}
.header .intro h1{
    margin: 0;
    font-weight: 800;
    font-size: 50px;
}
.header .intro p{
    margin: 20px 0 30px;
    line-height: 1.9;
    color: #E2E2E2;
}
.header .navbar{
    top:0;
    left: 0;
    width: 100%;
}
.header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
.navbar-right{
    margin: 0;
}
.navbar {
/*    background: none;
    border: none;
   // margin-top: -660px;

    z-index: 9999;*/
margin-top: 0;
height: 0;
position: relative;
min-height: 0;
color: #fff;
z-index: 999;
}
.header .arrow i{
    border: 2px solid #7B7B7B;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    line-height: 29px;
    cursor: pointer;
}
/*end header*/

/*start features*/
.features{
    padding: 80px 0;
}
.features .box{
    margin-bottom: 15px;
}
.features .box i{
   color: #f7600e;
   border: 1px solid #ccc;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   line-height: 120px;
}
.features .box i:hover{
    background-color: #f7600e;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 1px solid #f7600e;
}
.features .box h3{
    font-weight: normal;
    color: #505050;
}
.features .box p{
    line-height: 2;
    color: #888;

}
/*end features*/

/*start subscribe*/
.subscribe{
    background:url(../images/sybscribe.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
   // color: #fff;
}
.subscribe form{
    padding: 100px 0;
  //  width: 500px;
  margin: auto;
}
.subscribe .form-control{
    width: 400px;
    font-size: 20px;
  //  padding: 4px;
    border-radius: 10px;
    position: relative;
    top:2px;
    margin-bottom: 15px;
}
.subscribe button{
    padding: 12px;
    width: 220px;
    background-color:#f7600e;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
}
.subscribe button:hover{
    background-color:#f7600e;
}

/*end subscribe*/

/*start our_work*/
.item-box img{
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
}
.our-work{
    padding: 50px 0;
}
.our-work h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
}
.our-work h2 ~p{
    line-height: 2;
    margin: 10px 0 40px;
}
.our-work .show{
    width: 180px;
    border-radius: 10px;
    color: #555;
    margin: auto;
    padding: 10px;
    display: none;
    margin-top: 20px;
    background: transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 15px;
}
.our-work .show:hover{
    background-color: #f7600e;
    color: #fff;
    border: 1px solid #f7600e;
}
.our-work .item-box .over{
    position: absolute;
    top: 0;
    left: 16px;
    width: 92%;
    height: 94%;
    background-color: rgba(247,96,14,.9);
    color: #fff;
    border-radius: 3%;
    display: none;
}
.our-work .item-box:hover .over{
    display: block;
}
.our-work .item-box .over h4{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;

}
.our-work .item-box .over p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.7;

}
.our-work .item-box .over button{
    background-color: transparent;
    border: 1px solid #fff;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}
.our-work .item-box .over button:hover{
    background-color: #fff;
    color: #f7600e;
    border: 1px solid #fff;
}

/*end our_work*/

/*start testiminol*/
.testim{

    background: url(../images/tetm_bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
.testim .container{
    position: relative;
}
.testim .client{
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
}
.testim .client img{

}
.testim .client p{
    line-height: 2;
    font-style: italic;
}
.testim .fa-chevron-right,.testim .fa-chevron-left{
   position: absolute;
   top:50%;
   color: #999;
   cursor: pointer;
}
.testim .fa-chevron-right:hover,.testim .fa-chevron-left:hover{
    color: #f7600e;
}
.testim .fa-chevron-right{
    right: 0;
}
.testim .fa-chevron-left{

   left: 0;
}
/*end testiminol*/

/*start ourteam*/
.our_team{
    padding: 50px 0;
}
.our_team h2{
    font-size: 35px;
    margin-bottom: 0;
}
.our_team .mann{
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}
.our-work .the-team{
    overflow: hidden;
}
.person{
    color: #888;
}
.our-work .the-team .person p{
    font-size: 15px;
}
.person .social-icons i{
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
}

.person img{
    filter:gray;
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    margin: auto;
}
.person:hover img{
    filter:none;
    -webkit-filter:grayscale(0);
}
.person:hover{
    color: #555;
}
.person:hover .fa-facebook{
    background-color: #3b5998;
}
.person:hover .fa-twitter{
    background-color: #55acee;
}
.person:hover .fa-google-plus{
    background-color: #dc4e41;
}
/*end ourteam*/
/*start contact form*/
.contact {
    background: url(../images/contact_bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
.contact .overlay{
    padding: 50px 0;
    color: #fff;
}
.contact h2{
    font-size: 35px;
}
.contact form{
    margin:50px auto;
    overflow: hidden;
}
.contact form input[type="text"],.contact form input[type="email"]{
    width: 47%;
    //margin-left: 2%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
  //  background: transparent;
}
.contact form input[type="text"]{
    float: left;
    margin-right: 5%;
}
.contact form input[type="email"]{
    float: right;
}
.contact .form-inline .form-controll{
    width: 100%;
     margin-top: 20px;
     height: 140px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  //  background: transparent;
}
.contact .info{
   overflow: hidden;
   // width: 100%;
   margin-top: 15px;
}
.contact .info button{
    padding: 12px;
    width: 220px;
    background-color:#f7600e;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}
.contact .info .form-icons  i{
    background-color: #9da1a5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
}
.contact .info .form-icons .fa-facebook{
    background-color: #3b5998;
}
.contact .info .form-icons .fa-twitter{
    background-color: #55acee;
}
.contact .info .form-icons .fa-google-plus{
    background-color: #dc4e41;
}
/*end contact form*/
/*end footer*/
.footer{
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}
/*end footer*/
